section {
  outline: 1px dashed red;
  height: 100vh;
  position: relative;
}

h2 {
  outline: 1px dashed red;
  font-size: 5vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tigerSection {
  outline: 1px dashed red;
  height: 30vh;
  display: flex;
  align-items: center;
}
